
<div class="col-md-12">
    <div class="text-center font-weight-bold">
        <h1 class="header">DASHBOARD</h1>
        <div class="container-sm">
        <nav class="navbar bg-* w-50  mx-auto">
            <div class="container-sm justify-content-center">   
                    <span class="links"><a class="navbar-brand text-light" href="{% url 'index' %}">Home</a></span> 
                    <span class="links"><a class="navbar-brand text-light" href="{% url 'index' %}">Search</a></span>
                    <span class="links"><a class="navbar-brand text-light" href="{% url 'watchlist' %}">Watchlist</a></span>
            </div>
        </nav>
        </div>
    </div> 
</div>