{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>
    <title>{% block title %}Stock Dash{% endblock %}</title>
</head>
<body>
    
<h1>DASHBOARD</h1>

<div id="composites">
    {% block content %}
    {% endblock %}
</div>  
<form name="search">
    <input type="text" placeholder="Search by symbol or company" class="search" name="txt" onmouseout="this.value = ''; this.blur();">
</form>
    <div class="content">
        <div class="sidebar">
            <div class="news-head">Latest News><br><br></div>
            <ul>
                {% for key in news.feed %}
                    <li class="news_title">
                        <a href= {{key.url}}><strong>{{key.title}}</strong></a>
                    </li>
                    <li>
                        {% if key.banner_image %}
                        <img src={{key.banner_image}} alt="img" class="news_images">
                        {% endif %}
                        {{key.summary}}
                    </li>
                    <br>
                {% endfor %}
            </ul>
        </div>
        <div class="main">
            <div class="most_traded">
                <table>
                    <thead>
                        <tr>
                            <td>
                                Market Movers>
                            </td>
                        </tr>
                    </thead>
                    <tr>
                        <th>SYMBOL</th>
                        <th>NAME</th>
                        <th>CURRENT</th>
                        <th>CHANGE</th>
                    </tr>
                    {% for stock in hi_volume %}
                    <tr>
                        <td>{{stock.symbol}}</td>
                        <td>{{stock.name}}</td>
                        {% if stock.change < 0 %}
                        <td style="color:red">{{stock.price}}</td>
                        <td style="color:red">{{stock.change}}</td>
                        {% else %}
                        <td style="color:green">{{stock.price}}</td>
                        <td style="color:green">{{stock.change}}</td>
                        {% endif %}
                        <td>
                            <div>
                                {% block graphs %}
                                {% endblock %}
                                <canvas id="chart" width="300" height="100"></canvas>
                            </div>
                        </td>
                        {% endfor %}
                    </tr>
                </table>
            </div>
        </div>
    </div>
    {% block script %}
    {% endblock script %}
</body>
</html>